@CHARSET "UTF-8";

#html5_puzzle {
    font-size: 0;
}

canvas {
    background-color: transparent;
    left: 0;
    position: absolute;
    top: 0;
}

.puzzle_column,#puzzle_left,#puzzle_right,#add_img {
    display: inline-block;
}
.puzzle_column ul{
	margin:0px;
	padding:0px;
}
.puzzle_column li {
    display: block;
    margin: 5px;
    border: 1px solid #ffffff;
}

.puzzle_column li:hover {
    border: 1px solid #3B5998;
    cursor: pointer;
}

.puzzle_column {
    font-size: 0;
}

.puzzle_column img{
    width: 100px;
    height: 100px;
}
#puzzle_left{
	position:absolute;
	top:10px;
}
#puzzle_right{
	position:absolute;
	left:236px;
	top:0px;
}
#puzzle_bottom{
	position:absolute;
	top:610px;
}
#puzzle_left,#puzzle_right {
    border: 1px solid #3B5998;

}

#puzzle_right,#puzzle_bottom a {
    font-size: 14px;
    margin: 10px 0 0 10px;
}

#puzzle_bottom {
    margin: 5px 0;
}

#puzzle_canvas img {
    
}

#puzzle_canvas {
    overflow: hidden;
    width: 800px;
    height: 600px;
    position: relative;
    border: dotted #3B5998 1px;
}

#add_img input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

#add_img {
    position: relative;
    display: inline-block;
    background: #3B5998;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #ffffff;
}

#bg,#show_list {
    display: none;
}

#canvas_menu {
    border: 1px solid red;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    display: none;
	border: 1px solid #301BE7;
	border-radius: 16px;
	background-color: #731FC0;
	border-style: groove;
	padding:2px;
}
#canvas_menu a{
	color: #FFF;
	padding:1px;
}

#canvas_menu a {
    display: inline-block;
}

#test_canvas , #test ,#upload_btn{
    top: 700px;
    display: none;
}